.navbar-nav {
    margin-left: auto;
}

pre {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-left: 3px solid #e29e0a;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: .5em 1.5em;
    display: block;
    word-wrap: break-word;
}